@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playpen+Sans+Arabic:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";
@plugin "daisyui";



@theme {
    /* colors */
    --color-primary-red: #ea624c;
    --color-primary-orange: #f5b120; 
    --color-primary-green: #2bb24c;
    --color-primary-light-blue: #00cac9;
    --color-primary-blue: #12aee0;
    --color-primary-dark-teal: #1f5967;
    /* screens */
    --breakpoint-xs: 30rem;
    /* fonts */
    --font-ubuntu: "Ubuntu", sans-serif;
}

@layer base {
    *{
        margin: 0;
        padding: 0; 
        box-sizing: border-box; 
    }
}